<?xml version="1.0"?>
<config>
    <modules>
        <SSTech_Extracharge>
            <version>0.1.4</version>
        </SSTech_Extracharge>
    </modules>
    <frontend>
        <routers>
            <extracharge>
                <use>standard</use>
                <args>
                    <module>SSTech_Extracharge</module>
                    <frontName>extracharge</frontName>
                </args>
            </extracharge>
        </routers>
        <layout>
            <updates>
                <extracharge>
                    <file>extracharge.xml</file>
                </extracharge>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<extracharge>
				<use>admin</use>
				<args>
					<module>SSTech_Extracharge</module>
					<frontName>extracharge</frontName>
				</args>
			</extracharge>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<extracharge>
					<file>extracharge.xml</file>
				</extracharge>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<sales>
            <quote>
                <totals>
                    <extracharge>
                        <class>extracharge/sales_quote_address_total_extracharge</class>
                        <!-- <renderer>extracharge/checkout_total</renderer> -->
                    </extracharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <extracharge>
                        <class>extracharge/sales_order_total_invoice_extracharge</class>
                    </extracharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <extracharge>
                        <class>extracharge/sales_order_total_creditmemo_extracharge</class>
                    </extracharge>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>extracharge/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>extracharge/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>extracharge/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <extracharge_amount><to_order>*</to_order></extracharge_amount>
                <base_extracharge_amount><to_order>*</to_order></base_extracharge_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <extracharge translate="title">
                    <title>Extracharge</title>
                    <source_field>extracharge_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </extracharge>
            </totals>
        </pdf>
        <models>
            <extracharge>
                <class>SSTech_Extracharge_Model</class>
                <resourceModel>extracharge_mysql4</resourceModel>
            </extracharge>
            <extracharge_mysql4>
                <class>SSTech_Extracharge_Model_Mysql4</class>
                <entities>
                    <extracharge>
                        <table>extracharge</table>
                    </extracharge>
                </entities>
            </extracharge_mysql4>
        </models>
        <resources>
            <extracharge_setup>
                <setup>
                    <module>SSTech_Extracharge</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extracharge_setup>
            <extracharge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extracharge_write>
            <extracharge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extracharge_read>
        </resources>
        <blocks>
            <extracharge>
                <class>SSTech_Extracharge_Block</class>
            </extracharge>
        </blocks>
        <helpers>
            <extracharge>
                <class>SSTech_Extracharge_Helper</class>
            </extracharge>
        </helpers>
    </global>
    <default>
    	<!-- <sales>
            <totals_sort>
            	<extracharge>15</extracharge>
            </totals_sort>
        </sales> -->
       <!--  <extracharge>
            <extracharge>
                <addtitle><![CDATA[Extra Charge]]></addtitle>
            </extracharge>
        </extracharge> -->
    </default>
</config>